html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

#container {
	width: 100%;
}

/* HERO IMAGE */

#hero {
	background: url("img/Hero3.jpeg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.introduction {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-size: 30px;
	text-shadow: 2px 2px #1B242F;
}

.name-highlight {
	color: #E31B6D;
}

#hero i {
	font-size: 45px;
	position: absolute;
	text-align: center;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	color: #ffffff;
	text-shadow: 2px 2px #1B242F;
	animation: down-bounce 2s infinite;
	transition: 0.4s color;
	cursor: pointer;
}

#hero i:hover {
	color: #04C2C9;
	transition: 0.4s color;
}

/* BOUNCING ANIMATION */

@keyframes down-bounce {
	0% {
		bottom: 10%;
	}
	50% {
		bottom: 8%;
	}
	100% {
		bottom: 10%;
	}
}

/* NAV */

nav {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #1B242F;
	color: #ffffff;
	font-size: 16px;
	border-bottom: #04C2C9 solid 3px;
	opacity: 0.98;
	text-transform: uppercase;
	z-index: 1000;
}

nav div {
	margin: 0 20px;
}

nav div p {
	/*color: #E31B6D;*/
}

nav div ul {
	list-style-type: none;
	display: flex;
}

nav div ul li, nav div p {
	padding: 3px 20px;
	cursor: pointer;
	transition: color 0.5s;
}

nav div ul li:hover {
	color: #E31B6D;
}

.fixedNav {
	top: 0;
	position: fixed;
}

.selected {
	color: #E31B6D;
}

.navOption {
}

/* ABOUT */

#about {
	padding-top: 153px;
}

.wrapper {
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-flow: row wrap;
	padding: 90px 0;
}

.section-title {
	flex: 1 100%;
	text-align: center;
	margin-bottom: 80px;
	font-size: 35px;
	font-weight: 700;
}

#about > div {
	/*width: 40%;*/
	width: 700px;
	/*flex: 2;*/
}

.logo {
	width: 290px;
	height: 290px;
	box-sizing: border-box;
	font-size: 700%;
	line-height: 270px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	/*border: 5px #04C2C9 solid;*/
	border-radius: 50%;
	background-color: #353c47;
	margin: 0 auto;
}

.about-me p, .logo + h1{
	padding: 0 150px;
	text-align: center;
	color: #616161;
}

.brackets {
	color: #fff;
}

.skill {
	display: flex;
	flex-direction: column;
	/*justify-content: space-evenly;*/
	align-items: center;
}

.skill-bar {
	display: flex;
	background-color: #eee;
	height: 30px;
	width: 80%;
	margin: 7px 0;
	position: relative;
}

.skill-name {
	background-color: #04C2C9;
	font-weight: 700;
	color: #fff;
	text-align: center;
	padding: 4px 0;
	width: 120px;
	height: calc(100% - 8px);
	/*height: 100%;*/
}

.skill-percent {
	font-size: 80%;
	color: #666;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
}

/* ABOUT ANIMATION */

#about .section-title {
	/*transform: translateY(-100px);*/
	opacity: 0;
	/*transition: transform 1s, opacity 0.5s;*/
}

.about-me {
	opacity: 0;
}

.skill {
	opacity: 0;
}

.skill-progression {
	background-color: #00A1A7;
	width: 0%;
	height: 100%;
	/*transition: 1s width ease-out 1s;*/
}

.slide-down {
	animation: slideDown 1s forwards;
}

.slide-left {
	animation: slideLeft 1s forwards;
}

.slide-right {
	animation: slideRight 1s forwards;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100px);
		/*opacity: 0;*/
	}

	100% {
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes slideLeft {
	0% {
		opacity: 0;
		transform: translate(-100px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes slideRight {
	0% {
		opacity: 0;
		transform: translate(100px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.skill div:nth-child(1) .skill-progression {
	transition: 1s width ease-out 1s;
}

.skill div:nth-child(1) .skill-percent {
	transition: 1s opacity ease-out 2s;
}

.skill div:nth-child(2) .skill-progression {
	transition: 1.1s width ease-out 1s;
}

.skill div:nth-child(2) .skill-percent {
	transition: 1s opacity ease-out 2.1s;
}

.skill div:nth-child(3) .skill-progression {
	transition: 1.2s width ease-out 1s;
}

.skill div:nth-child(3) .skill-percent {
	transition: 1s opacity ease-out 2.2s;
}

.skill div:nth-child(4) .skill-progression {
	transition: 1.3s width ease-out 1s;
}

.skill div:nth-child(4) .skill-percent {
	transition: 1s opacity ease-out 2.3s;
}

.skill div:nth-child(5) .skill-progression {
	transition: 1.4s width ease-out 1s;
}

.skill div:nth-child(5) .skill-percent {
	transition: 1s opacity ease-out 2.4s;
}

.skill div:nth-child(6) .skill-progression {
	transition: 1.5s width ease-out 1s;
}

.skill div:nth-child(6) .skill-percent {
	transition: 1s opacity ease-out 2.5s;
}

.skill div:nth-child(7) .skill-progression {
	transition: 1.6s width ease-out 1s;
}

.skill div:nth-child(7) .skill-percent {
	transition: 1s opacity ease-out 2.6s;
}

.skill div:nth-child(8) .skill-progression {
	transition: 1.7s width ease-out 1s;
}

.skill div:nth-child(8) .skill-percent {
	transition: 1s opacity ease-out 2.7s;
}

.skill div:nth-child(9) .skill-progression {
	transition: 1.8s width ease-out 1s;
}

.skill div:nth-child(9) .skill-percent {
	transition: 1s opacity ease-out 2.8s;
}

/* PORTFOLIO */

#portfolio {
	background-color: #f5f5f5;
	padding-bottom: 250px;
}

.project-overlay {
	width: 430px;
	height: 290px;
	/*background-color: blue;*/
	margin-bottom: 30px;
}

.top-bar {
	position: relative;
	background-color: #2a2a2a;
	height: 30px;
}

.top-bar h2 {
	font-size: 90%;
	color: #fff;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	text-transform: uppercase;
	line-height: 2.1em;
}

.circle {
	display: inline-block;
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #ffbd2e;
	top: 8px;
	left: 30px;
}

.circle::before {
	left: -20px;
	content: "";
	background-color: #ff5f57;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
}

.circle::after {
	left: 20px;
	content: "";
	background-color: #28ca41;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
}

.app{
	height: calc(100% - 30px);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 4px #2a2a2a solid;
	border-top: none;
}

#codeguide {
	background-image: url("img/Codeguide.png");
}

#hearthstone {
	background-image: url("img/Hearthstone2.png");
}

#quickquiz {
	background-image: url("img/Quickquiz.png");
}

#blackhack {
	background-image: url("img/Blackhack.png");
}

#world-cup-memory {
	background-image: url("img/WorldCupMemory.png");
}

#math4kids {
	background-image: url("img/Math4kids.png");
}

/* PROJECT ANIMATION */

#portfolio .section-title {
	opacity: 0;
	transition: opacity 1s;
}

.project-overlay {
	opacity: 0;
	transform: rotateX(45deg);
	box-shadow: #636363 3px 6px 5px;
}

#portfolio > div:nth-child(2) {
	transition: transform 1.1s 0.7s, opacity 1s 0.7s;
}

#portfolio > div:nth-child(3) {
	transition: transform 1.1s 0.8s, opacity 1s 0.8s;
}

#portfolio > div:nth-child(4) {
	transition: transform 1.1s 0.9s, opacity 1s 0.9s;
}

#portfolio > div:nth-child(5) {
	transition: transform 1.1s 1s, opacity 1s 1s;
}

#portfolio > div:nth-child(6) {
	transition: transform 1.1s 1.1s, opacity 1s 1.1s;
}

#portfolio > div:nth-child(7) {
	transition: transform 1.1s 1.2s, opacity 1s 1.2s;
}

/* CONTACT */

.diagonal {
	width: 100%;
	height: 120px;
	background-color: #252934;
	position: absolute;
	transform: skewY(4deg) translateY(-40px);
}

.diagonal-reverse {
	width: 100%;
	height: 120px;
	background-color: #252934;
	position: absolute;
	transform: skewY(-4deg) translateY(-40px);	
}

#contact {
	background-color: #252934;
}

#contact h1 {
	color: #fff;
	margin-top: 0;
}

.contact-text {
	color: #04C2C9;
	font-size: 105%;
	flex: 1 100%;
	text-align: center;
	line-height: 1.7;
	opacity: 0;
}

.email-icon {
	color: #fff;
	background-color: #E31B6D;
	font-size: 300%;
	flex: 1;
	text-align: center;
	margin: 30px 0;
	padding: 5px 7px;
	/*border: 1px solid #E31B6D;*/
	border-radius: 10px;
	transform: scale(0);
	transition: border-radius 0.5s, font-size 0.5s, padding 0.5s, margin 0.5s, background-color 0.5s, color 0.5s;
}

.email-icon:hover {
	border-radius: 50%;
	padding: 8px 10px;
	margin: 27px 0;
	font-size: 300%;
	background-color: #fff;
	color: #E31B6D;
}

.social-icon {
	margin: 15px 5px;
	color: #fff;
	background-color: #1B242F;
	padding: 10px;
	font-size: 150%;
	transform: scale(0);
	transition: color	0.3s, background-color 0.3s;
}

.social-icon:hover {
	color: #1B242F;
	background-color: #fff;
}

/* CONTACT ANIMATION */

#contact .section-title {
	opacity: 0;
}

.email-text {
	animation-delay: 0.3s;
}

.email-icon {
	animation-delay: 0.6s;
}

.social-text {
	animation-delay: 0.9s;
}

.linkedin-icon {
	animation-delay: 1.2s;
}

.github-icon {
	animation-delay: 1.5s;
}

.slide-right-far {
	animation-name: slideRightFar;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.slide-left-far {
	animation-name: slideLeftFar;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.grow {
	animation-name: grow;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes slideRightFar {
	0% {
		transform: translate(-300px);
		opacity: 0;
	}

	100% {
		transform: translate(0);
		opacity: 1;
	}
}

@keyframes slideLeftFar {
	0% {
		opacity: 0;
		transform: translate(300px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes grow {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}